body{
   font-size: 1.1em;
    width: 60%;
    max-width: 800px;
    margin: auto;
}
img{
  float: left;
  margin: 1%;
}
h1 span{
  color: green;
  font-size: 2em;
  font-style: oblique;
}

#titre {
    font-style: normal;
    color: yellow;
    text-shadow: 2px 2px #968108;
    font-size: 2.5em;

}
#brand{
    font-style: oblique;
    font-weight: bold;
    text-decoration: underline;
}
hr{
  clear: both;
}
header p{
  font-style: italic;
  font-size: .8em;
  color: grey;
  max-width: 600px;
  margin: auto;
}
a{
        text-decoration: none;
}
/*essai coloration lien sur la carte map*/
a:hover{
  color: green;
}
a:focus {
  background-color: #FFCC66;
}
/*essai coloration lien sur la carte map*/
area:hover{
    color: yellow;
}
section{
    float: left;
}
aside{
    float: right;
}
li{
  list-style: none;
  text-align: left;
  color: blue;
  font-style: oblique;
}
footer{
    position: fixed;
    font-size: .75em;
    bottom: 0;
    text-align: center;
    width: auto;
    margin: auto;
    border: 3px solid #8AC007;
}
@media screen and (min-width:785px) and (max-width: 1150px){
    body{
        margin: auto;
        width:  85%;
    }

    aside {
        font-size: .8em;
    }
}
@media screen and (max-width: 784px){
    body{
        width:  100%;
        font-size: .8em;
    }
    aside, header img, #brand{
      display: none;
    }
    img{
      clear: both;
      margin: auto;
    }
}
