*{
  font-size: 1.1em;
    background-color: 
}
header{
  float: left;
  margin: 1%;
}
h1 span{
  color: green;
  font-size: 2em;
  font-style: oblique;
}
h1 span:first-child {
    font-style: normal;
    color: yellow;
    font-size: 2.5em;
} 
hr{
  clear: both;
}
header p{
  font-style: italic;
  font-size: .8em;
  color: grey;
}
a{
        text-decoration: none;
}
/*essai coloration lien sur la carte map*/
a:hover{
  color: green;
}
a:focus {
  background-color: #FFCC66:
}
/*essai coloration lien sur la carte map*/
area:hover{
    color: yellow;
}
section{
    float: left;
}
aside{
    float: right;
    
}
li{
  list-style: none;
  text-align: right;
  color: blue;
  font-style: oblique;
}
#maps{ 
    border="0";
    width="410";
    height="480";
    orgWidth="410";
    orgHeight="480" ;
    }